<<<<<<< Updated upstream
#map { 
height: 400px; 
width: 100%;
=======
body{
    width: 100%;
}

#total-page{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header{
    width: 100%;
    overflow: hidden;
    padding-bottom: 2%;
}

.chevrons{
    width: 3%;
    position: absolute;
    top: 25%;
    opacity: 0.3;
}

.chevrons:hover{
    transition: ease 2s;
    opacity: 1;
    cursor: pointer;
}

#chevrons-left{
    left: 0;
    padding-left: 1%;
}

#chevrons-right{
    right: 0;
    padding-right: 1%;
}

#slider-container{
    display: flex;
    width: 600%;
    padding-top: 2%;
    transition: ease 2s;
}

.slider-container--block{
    display : flex;
    justify-content: space-around;
    width : 100%;
}

.slider-container--img{
    width: 35%;
}

main{
    display: flex;
}

#map { 
height: 400px; 
width: 60%;
}

#aside-infos--select-station{
    display: block;
>>>>>>> Stashed changes
}